<div class="container mt-8">
  <input type="file" class="file-input" accept="image/*" (change)="onFileSelected($event)" #fileUpload>

  <div class="row mt-4">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="fileUpload.click()">Agregar otras imagenes</button>
    </div>
    <div class="col">
      <button type="button" class="btn btn-danger" (click)="delImage()">Eliminar</button>
    </div>
  </div>
  <div class="row mt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators" *ngFor="let pic of imgs_array">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">

        <div 
        *ngFor="let pic of imgs_array"
        class="carousel-item active">
          <img src={{pic.src}} class="d-block w-100" alt={{pic.id}}>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>